{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}HSCO{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, Welcome to my Hero Scape Card Organizer!</h1>
    <p>We're a work in progress, but we do believe in progress!</p>
    <p>Right now we can only add cards in the command line, and soon we'll be able to view them.</p>
    <p>We'll keep working on it though and get it to a reasonable level of functionality ASAP.</p>
</div>
{% endblock %}
