{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}HSCO{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, Welcome to my Hero Scape Card Organizer!</h1>
    <p>We're a work in progress, but we do believe in progress!</p>
    <p>Right now we can add cards in the command line, throught the web app, and we can view them.</p>
    <p>Now I'd like to make a page to view individual cards and clean up the all cards page.</p>
    <p>Next up we'll make cards editable.</p>
</div>
{% endblock %}
